::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: #424141;;
}
.history{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 165px;
    border: 6px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(83, 83, 83);
    color: white;
    font-size: 20px;
    height: 300px;
}
.history h4{
    margin-top: 5px;
    text-align: center;
}
.history li{
    margin: 5px 0px;
    font-size: 14px;
}
.history p{
    max-height: 30vh;
    overflow-y: auto;
}
.btn{
    height: 55px;
    width: 55px;
    border-radius: 100%;
    margin: 2px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 28px;
    transition: all 0.1s ease-out;
    border: none;
}
.btn:hover{
    background-color: rgb(190, 183, 160);
}
.display{
    height: 45px;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 225px;
    background-color: grey;
    color: white;
    font-size: 20px;
    position: relative;
}
#answer{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.form{
    position: absolute;
    top: 18%;
    left: 35%;
    border: 8px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(83, 83, 83);
}