
.calculator {
  border: 3px solid rgb(47, 47, 128);
  max-width: 750px;
  background-color: bisque;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  margin: auto;
}
button {
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-size: medium;
  background-color: rgb(212, 77, 77);
}
.calculate-cgpa {
  position: absolute;
  right: 35px;
}
.calculate:hover,
.reset:hover,
.calculate-cgpa:hover {
  background-color: rgb(168, 141, 141);
}
.header-block {
  padding: 15px;
  background-color: aqua;
  border-radius: 10px;
  margin: 30px 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 20px;
}
.box {
  font-size: 18px;
}
.block1 {
  padding: 15px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 20px 8px;
}
select {
  border: none;
  background-color: rgb(101, 101, 109);
  color: white;
  padding: 3px;
  border-radius: 5px;
  width: 50px;
}
option {
  background-color: rgb(113, 146, 146);
}
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 12px;
  font-size: 25px;
}
.result li {
  list-style: none;
}
.result div {
  background-color: rgb(105, 211, 211);
  display: flex;
  gap: 13px;
}
h1 {
  text-align: center;
  font-size: 35px;
  margin: 50px;
  margin-bottom: 70px;
  text-shadow: 2px 2px rgb(216, 195, 11);
  color: rgb(119, 143, 143);
}
.usr-credithours,.usr-gpa{
  width: 60px;
  border: none;
  background-color: rgb(101, 101, 109);
  color: white;
  padding: 3.5px;
  border-radius: 5px;
  font-size: 18px;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
@media only screen and (max-width: 540px) {
  .box{
    font-size: 70%;
  }
  select{
    width: 80%;
  }
  .result div{
    font-size: 70%;
    gap: 5px;
  }
  .usr-credithours,.usr-gpa{
	padding: 1px 3px;
	width: 40px;
	font-size: 125%;
  }
}