.welcome > *{
    margin: 13px 0px;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    border: 2px solid rgb(95, 80, 80);
    padding: 10px 30px;
    background-color: beige;
    height: 270px;
    width: 300px;
    color: rgb(33, 33, 33);
    text-shadow: 1px 1.5px rgb(189, 120, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 110px;
    animation-name: popin;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes popin{
    0%{
        top: -100%;
    }
    100%{
        top: 110px;
    }
}
.names input{
    padding: 10px;
    border-radius: 10px;
}
.start-btn{
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
.start-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.names{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.current-player{
    color: rgb(221, 212, 212);
    text-shadow: 1px 1.5px rgb(196, 41, 21);
    font-size: 17px;
}
.game-box{
    padding: 8px 10px;
    margin: auto;
    background-color: sandybrown;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
    height: 500px;
}
.tic-tac-toe-box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 520px;
}
.box{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    margin: 15px 30px;
    border-radius: 10px;
    border: 2px solid maroon;
    padding: 8px;
    justify-content: center;
}
.box .tick,.cross{
    width: 50px;
    height: 50px;
}
.box:hover{
    cursor: pointer;
}
.game-details{
    text-align: center;
}
.game-players{
    color: rgb(210, 218, 160);
    text-shadow: 1px 1.5px rgb(196, 41, 21);
    font-size: 18px;
}
#replay{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}
#replay:hover{
    cursor: pointer;
    background-color: rgb(169, 169, 169);
}
.result{
    align-items: center;
    justify-content: center;
    color: rgb(98, 55, 55);
    display: flex;
    gap: 20px;
}
.result img{
    width: 60px;
}
.won-player{
    font-size: 20px;
    display: flex;
    gap: 10px;
}
.rigth-cone{
    transform: scaleX(-1);
}
.won-player h2{
    justify-content: center;
}

